<div class=" my-5 flex items-center justify-center">
    <strong><h1 class="text-center text-3xl" > <%= t("Details of the order") %> #<%= @transaction_id %> </h1></strong>
</div>

<div class="overflow-x-auto">
    <div class="min-w-screen bg-gray-100 flex flex-col items-center justify-center bg-gray-100 font-sans overflow-hidden">
        <!--sdfsdfsf-->
        <div class='w-full lg:w-5/6'>
            <div class="bg-white shadow-lg rounded-lg overflow-hidden my-4">
                <div class="flex justify-evenly py-4 px-6">
                    <div class="min-w-max px-5">
                        <div class= "flex my-1">
                            <h3 class="py-2 "><%= t('Client Name') + ": " %></h3>
                            <div class="inline pl-5 flex items-center text-gray-700">
                                <svg class="h-6 w-6 fill-current" viewBox="0 0 512 512">
                                    <path d="M239.208 343.937c-17.78 10.103-38.342 15.876-60.255 15.876-21.909 0-42.467-5.771-60.246-15.87C71.544 358.331 42.643 406 32 448h293.912c-10.639-42-39.537-89.683-86.704-104.063zM178.953 120.035c-58.479 0-105.886 47.394-105.886 105.858 0 58.464 47.407 105.857 105.886 105.857s105.886-47.394 105.886-105.857c0-58.464-47.408-105.858-105.886-105.858zm0 186.488c-33.671 0-62.445-22.513-73.997-50.523H252.95c-11.554 28.011-40.326 50.523-73.997 50.523z"/><g><path d="M322.602 384H480c-10.638-42-39.537-81.691-86.703-96.072-17.781 10.104-38.343 15.873-60.256 15.873-14.823 0-29.024-2.654-42.168-7.49-7.445 12.47-16.927 25.592-27.974 34.906C289.245 341.354 309.146 364 322.602 384zM306.545 200h100.493c-11.554 28-40.327 50.293-73.997 50.293-8.875 0-17.404-1.692-25.375-4.51a128.411 128.411 0 0 1-6.52 25.118c10.066 3.174 20.779 4.862 31.895 4.862 58.479 0 105.886-47.41 105.886-105.872 0-58.465-47.407-105.866-105.886-105.866-37.49 0-70.427 19.703-89.243 49.09C275.607 131.383 298.961 163 306.545 200z"/></g>
                                </svg>
                                <h1 class="px-2 text-sm"><%= @transaction.user.name.humanize %></h1>
                            </div>
                        </div>
                        <div class= "flex my-1">
                             <h3 class="py-2"><%= t('Client Email') + ": " %></h3>
                            <div class="inline pl-5 flex items-center text-gray-700">
                                <svg class="h-6 w-6 fill-current" viewBox="0 0 512 512">
                                    <path d="M437.332 80H74.668C51.199 80 32 99.198 32 122.667v266.666C32 412.802 51.199 432 74.668 432h362.664C460.801 432 480 412.802 480 389.333V122.667C480 99.198 460.801 80 437.332 80zM432 170.667L256 288 80 170.667V128l176 117.333L432 128v42.667z"/>
                                </svg>
                                <h1 class="px-2 text-sm"><%= @transaction.user.email.humanize %></h1>
                            </div>
                        </div>
                    </div>
                    <div class="min-w-max px-5">
                        <div class= "flex my-1">
                            <h3 class="py-2"><%= t('Delivery Address') + ": " %></h3>
                            <div class="inline pl-5 flex items-center text-gray-700">
                                <svg class="h-6 w-6 fill-current" viewBox="0 0 512 512">
                                    <path d="M256 32c-88.004 0-160 70.557-160 156.801C96 306.4 256 480 256 480s160-173.6 160-291.199C416 102.557 344.004 32 256 32zm0 212.801c-31.996 0-57.144-24.645-57.144-56 0-31.357 25.147-56 57.144-56s57.144 24.643 57.144 56c0 31.355-25.148 56-57.144 56z"/>
                                </svg>
                                <h1 class="px-2 text-sm"><%= @transaction.street+", "+@transaction.city+", "+@transaction.country+", "+@transaction.zip %></h1>
                            </div>
                        </div>
                        <div class= "flex my-1">
                            <h3 class="py-2"><%= t('Payment method') + ": " %></h3>
                            <div class="inline pl-5 flex items-center text-gray-700">
                                <svg class="h-6 w-6 fill-current" viewBox="0 0 512 512">
                                <path d="M333.3,89.3c-19.1,0-37.4,3.5-54.3,9.8c40.8,35,66.7,87,66.7,144.9c0,58-25.9,109.9-66.7,144.9
                                    c16.9,6.3,35.2,9.8,54.3,9.8c85.5,0,154.7-69.3,154.7-154.7S418.7,89.3,333.3,89.3z"/>
                                <path d="M154.7,89.3C69.3,89.3,0,158.5,0,244s69.3,154.7,154.7,154.7c85.5,0,154.7-69.3,154.7-154.7
                                    C309.5,158.5,240.2,89.3,154.7,89.3z M208.7,322.4c-4.6,2.1-9.5,3.9-14.4,5.2c-18.9,5.2-37.7,5.4-56.5-0.7
                                    c-22.6-7.3-37.7-22.8-46.7-44.4c-1.7-4.2-2.9-8.6-4.2-13H69.2c-3,0-5.4-2.4-5.4-5.4v-12c0-3,2.4-5.4,5.4-5.4h14.7
                                    c0-3.3,0-6.5,0-9.7H69.2c-3,0-5.4-2.4-5.4-5.4v-12c0-3,2.4-5.4,5.4-5.4h18.7l0.6-1.9c5-16,13.7-29.6,27-40
                                    c10.6-8.2,22.8-12.7,35.9-14.8c18.7-3,36.7-0.4,54.2,6.4c1.1,0.4,2.2,1,3.3,1.6c4.2,2.5,5.3,5.6,3.4,10.1c-2,4.7-3.9,9.5-6.1,14.1
                                    c-1.8,4-4.4,5.3-8.7,4.3c-5.9-1.3-11.7-3.2-17.7-4.4c-12.5-2.5-24.9-2.7-37.1,2.1c-10.4,4.1-16.8,12.1-21.2,22
                                    c0,0.1-0.1,0.2-0.1,0.4h36.3c3,0,5.4,2.4,5.4,5.4v12c0,3-2.4,5.4-5.4,5.4h-41.6c0,3.2,0,6.4,0,9.7h41.6c3,0,5.4,2.4,5.4,5.4v12
                                    c0,3-2.4,5.4-5.4,5.4h-38c4.6,13.1,12,23.2,26,27.6c11.2,3.5,22.5,3.3,33.8,1c5.9-1.2,11.6-3,17.5-4.3c4.6-1,7.1,0.2,9,4.4
                                    c2.2,4.7,4.2,9.5,6.1,14.3C214.4,316.9,213.2,320.4,208.7,322.4z"/>
                                </svg>
                                <h1 class="px-2 text-sm"><%= t(@transaction.method) %></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--sdfsdfsf-->
        <div class="w-full lg:w-5/6">
            <div class="bg-white shadow-md rounded my-6">
                <table class="min-w-max w-full table-auto">
                    <thead>
                        <tr class="bg-blue-200 text-gray-600 uppercase text-sm leading-normal">
                            <th class="py-3 px-6 text-left">Ref.</th>
                            <th class="py-3 px-6 text-left"><%= t("Product Name") %></th>
                            <th class="py-3 px-6 text-center"><%= t("Quantity") %></th>
                            <th class="py-3 px-6 text-center"><%= t("Unit Price") %></th>
                            <th class="py-3 px-6 text-center"><%= t("Total Price") %></th>
                            <!--<th class="py-3 px-6 text-center"><%= t("Actions") %></th>-->
                        </tr>
                    </thead>
                    <tbody class="text-gray-600 text-sm font-light">
                        <% @transaction_items.each do |transaction_item| %>
                            <tr class="border-b border-gray-200 hover:bg-gray-100">
                                <td class="py-3 px-6 text-left whitespace-nowrap">
                                    <div class="flex items-center">
                                        <span class="font-medium"><%= transaction_item.id %></span>
                                    </div>
                                </td>
                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <span><%= link_to Product.find(transaction_item.product_id).title, product_path(transaction_item.product_id), class: "text-lg text-blue-500" %></span>
                                    </div>
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <div class="flex items-center justify-center">
                                        <span><%= transaction_item.quantity %></span>
                                    </div>
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <div class="flex items-center justify-center">
                                        <%= number_to_currency transaction_item.price %>
                                    </div>
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <div class="flex items-center justify-center">
                                        <%= number_to_currency (transaction_item.price*transaction_item.quantity) %>
                                    </div>
                                </td>
                                <!--<td class="py-3 px-6 text-center">
                                    <div class="flex item-center justify-center">
                                        <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                            </svg>
                                        </div>
                                        <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                            </svg>
                                        </div>
                                        <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                            </svg>
                                        </div>
                                    </div>
                                </td>-->
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>