<% if @transaction %>
<div class="antialiased sans-serif min-h-screen bg-white" style="min-height: 900px">
	<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
	<style>
        
		[x-cloak] {
			display: none;
		}

		@media print {
			.no-printme  {
				display: none;
			}
			.printme  {
				display: block;
			}
			body {
				line-height: 1.2;
			}
		}

		@page {
			size: A4 portrait;
			counter-increment: page;
		}

	</style>

	<div class=" border-t-8 border-gray-700 h-2"></div>
	<div 
		class="container mx-auto py-6 px-4"
		x-data="invoices()"
		x-cloak
	>
        <div class="flex justify-between">
            <h2 class="text-2xl font-bold mb-6 pb-2 tracking-wider uppercase"></h2>
            <div>
                <div class="relative mr-4 inline-block">
                    <div class="text-gray-500 cursor-pointer w-10 h-10 rounded-full bg-gray-100 hover:bg-gray-300 inline-flex items-center justify-center" @mouseenter="showTooltip = true" @mouseleave="showTooltip = false" @click="printInvoice()">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-printer" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                            <path d="M17 17h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-14a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h2" />
                            <path d="M17 9v-4a2 2 0 0 0 -2 -2h-6a2 2 0 0 0 -2 2v4" />
                            <rect x="7" y="13" width="10" height="8" rx="2" />
                        </svg>				  
                    </div>
                    <div x-show.transition="showTooltip" class="z-40 shadow-lg text-center w-32 block absolute right-0 top-0 p-2 mt-12 rounded-lg bg-gray-800 text-white text-xs">
                        <%= t("Print this invoice") %>!
                    </div>
                </div>
            </div>
        </div>
		<div id="js-print-template" x-ref="printTemplate" class="">
			<div class="mb-8 flex justify-between">
				<div>
					<h2 class="text-3xl font-bold mb-6 pb-2 tracking-wider uppercase"><%= t("Invoice") %></h2>

					<div class="mb-1 flex items-center">
						<label class="w-32 text-gray-800 block font-bold text-xs uppercase tracking-wide"><%= t("Invoice N°") %></label>
						<span class="mr-4 inline-block">:</span>
						<div >#<%= @transaction.id %></div>
					</div>
		
					<div class="mb-1 flex items-center">
						<label class="w-32 text-gray-800 block font-bold text-xs uppercase tracking-wide"><%= t("Invoice Date") %> </label>
						<span class="mr-4 inline-block">:</span>
						<div><%= @transaction.created_at.to_s.split[0] %></div>
					</div>
		
					<div class="mb-1 flex items-center">
						<label class="w-32 text-gray-800 block font-bold text-xs uppercase tracking-wide"><%= t("Due date") %></label>
						<span class="mr-4 inline-block">:</span>
						<div><%= @transaction.created_at.to_s.split[0] %></div>
					</div>
				</div>
			</div>

			<div class="flex justify-between mb-10">
				<div class="w-1/2">
					<label class="text-gray-800 block mb-2 font-bold text-xs uppercase tracking-wide"><%= t("Bill To") %>:</label>
					<div>
						<div><%= current_user.name %></div>
					</div>
				</div>
				<div class="w-1/2">
					<label class="text-gray-800 block mb-2 font-bold text-xs uppercase tracking-wide"><%= t("From") %>:</label>
					<div>
						<div>WMShop</div>
					</div>
				</div>
			</div>

			<div class="flex flex-wrap -mx-1 border-b py-2 items-start">

				<div class="flex-1 px-1">
					<p class="text-gray-600 uppercase tracking-wide text-xs font-bold"><%= t("Product") %></p>
				</div>
	
				<div class="px-1 w-32 text-right">
					<p class="text-gray-600 uppercase tracking-wide text-xs font-bold"><%= t("Quantity") %></p>
				</div>
	
				<div class="px-1 w-32 text-right">
					<p class="leading-none">
						<span class="block uppercase tracking-wide text-xs font-bold text-gray-600"><%= t("Unit Price") %></span>
						<span class="font-medium text-xs text-gray-500">(Incl. GST)</span>
					</p>
				</div>
	
				<div class="px-1 w-32 text-right">
					<p class="leading-none">
						<span class="block uppercase tracking-wide text-xs font-bold text-gray-600"><%= t("Amount") %></span>
						<span class="font-medium text-xs text-gray-500">(Incl. GST)</span>
					</p>
				</div>
			</div>
            <% transactionItems = TransactionItem.where(transaction_id: @transaction.id) %>
            <% transactionItems.each do |item| %>
                <div class="flex flex-wrap -mx-1 py-2 border-b">
                    <div class="flex-1 px-1">
                        <p class="text-gray-800"> <%= t(Product.find(item.product_id).title) %></p>
                    </div>

                    <div class="px-1 w-32 text-right">
                        <p class="text-gray-800" ><%= item.quantity %></p>
                    </div>

                    <div class="px-1 w-32 text-right">
                        <p class="text-gray-800" > <%= number_to_currency item.price %></p>
                    </div>

                    <div class="px-1 w-32 text-right">
                        <p class="text-gray-800" ><%= number_to_currency item.quantity*item.price %></p>
                    </div>
                </div>
            <% end %>

			<div class="py-2 ml-auto mt-20" style="width: 320px">
				<div class="flex justify-between mb-3">
					<div class="text-gray-800 text-right flex-1">Total incl. GST</div>
					<div class="text-right w-40">
						<div class="text-gray-800 font-medium" > <%= number_to_currency @transaction.sub_total %> </div>
					</div>
				</div>
				<div class="flex justify-between mb-4">
					<div class="text-sm text-gray-600 text-right flex-1">GST(18%) incl. <%= t("in Total") %></div>
					<div class="text-right w-40">
						<div class="text-sm text-gray-600" ><%= number_to_currency @transaction.sub_total %></div>
					</div>
				</div>
			
				<div class="py-2 border-t border-b">
					<div class="flex justify-between">
						<div class="text-xl text-gray-600 text-right flex-1"><%= t("Amount due") %></div>
						<div class="text-right w-40">
							<div class="text-xl text-gray-800 font-bold" ><%= number_to_currency @transaction.sub_total %></div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	
	<script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
	<script>
		function invoices() {
			return {
				showTooltip: false,
				showTooltip2: false,
				openModal: false,
				printInvoice() {
					var printContents = this.$refs.printTemplate.innerHTML;
					var originalContents = document.body.innerHTML;

					document.body.innerHTML = printContents;
					window.print();
					document.body.innerHTML = originalContents;
				}
			}
		}
	</script>
<% else %>
<style>
    .error-text {
    font-size: 130px;
    }

    @media (min-width: 768px) {
        .error-text {
            font-size: 220px;
        }
    }
  </style>
  
  <div class="h-screen w-screen bg-blue-600 flex justify-center content-center flex-wrap">
    <p class="font-sans text-white error-text">404</p>
  </div>
  
  <div class="absolute w-screen bottom-0 mb-6 text-white text-center font-sans text-xl">
      <span class="opacity-50"><%= t("You can find your invoices in your orders' history") %></span>
       <a class="border-b"><%= link_to t("here"), history_path %> </a>.
  </div>
<% end %>