<p id="notice"><%= notice %></p>

<h1>Over Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @over_categories.each do |over_category| %>
      <tr>
        <td><%= over_category.name %></td>
        <td><%= link_to 'Show', over_category %></td>
        <td><%= link_to 'Edit', edit_over_category_path(over_category) %></td>
        <td><%= link_to 'Destroy', over_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Over Category', new_over_category_path %>
