
<table>
  <tbody>
    <% @category_groups.each do |category_group| %>
      <tr>
        <td>
          <%= link_to category_group do %>
            <%= category_group.name %>
          <% end %>
        </td>
        <td><%= link_to 'Rename', edit_category_group_path(category_group) %></td>
        <td><%= link_to 'Delete', category_group, method: :delete, data: { confirm: "Deleteing this sub-category will delete all it's sub-categories, procede anyway ?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_group_path %>
