
<div class="text-gray-900 bg-gray-200">
  <div class="p-4 flex justify-center">
      <h1 class="text-3xl">
        <%= @category_group.name %> Variants
      </h1>
  </div>
  <div class="px-3 py-4 flex justify-center">
      <table class="w-96 text-md bg-white shadow-md rounded mb-4">
        <% @categories.each do |category| %>
          <tr class="border-b hover:bg-orange-100 bg-gray-100">
            <td class="p-3 px-5">
              <%= link_to category_products_path(category), class:"bg-transparent" do %>
                <%= category.title %>
              <% end %>
            </td>
            <td class="p-3 px-5 flex justify-end" >
              <%= link_to 'Edit', edit_category_path(category), class:"mr-3 text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline" %>
              <%= link_to 'Delete', category, method: :delete, data: { confirm: "Deleteing this sub-category will delete all it's variants, proceed anyway ?" }, class:"text-sm bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline" %>
            </td>
          </tr>
        <% end %>
        <tr class="border-b hover:bg-orange-100 bg-gray-100">
          <td  colspan="2" class="p-3" >
            <%= link_to 'Add Variant', new_variant_path(@category_group.id), class:"w-full text-center flex justify-center mx-2 text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline" %>
          </td>
        </tr>
      </table>
  </div>
  <%= link_to 'Back', OverCategory.find(@category_group.over_category_id), class:"text-center flex w-20 justify-center mx-2 text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline" %>
</div>
