<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="flex flex-row bg-gradient-to-r from-blue-200 justify-center rounded-full w-screen my-4 py-3">
    <h1 class="text-center text-3xl"><%= t(@category.title) %></h1>
    <% if current_user && current_user.admin %>
      <div class="mx-10 py-2">
        <%= link_to delete_category_path(@category), method: :delete, data: { confirm: "All products belonging to this category will be deleted, proceed anyway ?" }, class: "right-0 float-right inline mx-2" do %>
          <i style="font-size:24px" class="fa">&#xf014;</i>
        <% end %>
        <%= link_to edit_category_path(@category), class: "px-1 right-0 float-right inline" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
    <% end %>
</div>
<% if current_user && current_user.admin %>
  <div class="flex justify-center items-center" >
    <%= link_to t("Add Product to this Variant"), new_category_product_path, class: "mx-10 max-w-40 text-white bg-blue-500 border-0 py-2 px-4 focus:outline-none hover:bg-blue-600 rounded-full" %>
  </div>
<% end %>
<div class="flex min-h-full h-full mb-10 flex-wrap grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-10 px-14">
  <% @products.each do |product| %>
    <div class="post bg-transparent mb-10 text-white relative pb-full md:mb-6">
      <div class="">  
        <div class="shadow hover:shadow-lg transition duration-300 ease-in-out xl:mb-0 lg:mb-0 md:mb-0 mb-6 group">
          <div class="overflow-hidden relative cursor-pointer">
            <% if product.image.attached?%>
                <%= link_to product_path(product.id) do %>
                    <%= image_tag prod_image(product,550), class:"w-full transition duration-700 ease-in-out group-hover:opacity-60" %>
                <%end%>
            <% end %>
            <div class="flex justify-center">
            <div class="absolute bottom-4 transition duration-500 ease-in-out opacity-0 group-hover:opacity-100">
            </div>
            </div>
          </div>
          <div class="px-4 py-3 bg-white">
            <a href="#" class="">
              <h1 class="text-gray-800 font-semibold text-lg hover:text-red-500 transition duration-300 ease-in-out">
                <%= link_to product_path(product.id) do %>
                  <%= truncate(t(product.title), :length => 32) %>
                <% end %>
              </h1>
            </a>
            <div class="flex py-2 flex-col">
              <%= form_tag order_items_path, remote: true, class:"flex justify-center content-center " do %>
                <p class="text-s text-gray-600 inline-block align-top mx-1 flex ml-auto text-bleck border-0 py-2 px-4 focus:outline-none rounded-full"><%= number_to_currency product.price %></p>
                <%= hidden_field_tag :product_id, product.id %>
                <%= number_field_tag :quantity, 1, min: 1, class: " text-gray-900 mx-3 max-w-20 w-20 inline-block text-center border-1 bg-gray-200 hover:bg-gray-300 outline-none", id: "cart-number-field-index" %>
                <button type="submit" class="mx-3 flex ml-auto text-white bg-blue-500 border-0 py-2 px-4 focus:outline-none hover:bg-blue-600 rounded-full" @click="showModal2 = true" >
                  <%= t("Add to cart") %>
                </button>
              <% end %>   
            </div>
            <span class="flex items-center">
              <% reviews = Rating.where(product_id: product.id) %>
              <%avg_rating = 0 %>
              <% if reviews.length > 0 %>
                <% avg_rating = reviews.average(:score).round %>
              <% end %>
              <div class="flex pr-3">
                <% (1..avg_rating).each do |i| %>
                  <i class="focus:outline-none fas fa-star text-yellow-400 text-xs"  ></i>
                <% end %>
                <% ((avg_rating+1)..5).each do |i| %>
                  <i class="focus:outline-none far fa-star text-gray-400 text-xs"  ></i>
                <% end %>
              </div>
              <span class="text-gray-600 ml-3"><%= pluralize( product.ratings.length, t('Reviews') ) %> </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <body x-data="{ showModal1: false, showModal2: false, showModal3: false }" :class="{'overflow-y-hidden': showModal1 || showModal2 || showModal3}">

    <div
      class="fixed inset-0 w-full h-full bg-black bg-opacity-50 duration-300 overflow-y-auto"
      x-show="showModal2"
      x-transition:enter="transition duration-300"
      x-transition:enter-start="opacity-0"
      x-transition:enter-end="opacity-100"
      x-transition:leave="transition duration-300"
      x-transition:leave-start="opacity-100"
      x-transition:leave-end="opacity-0"
    >
      <div class="relative inset-y-40 sm:w-1/12 md:w-1/2 lg:w-1/3 mx-2 sm:mx-auto my-10 opacity-100">
        <div
          class="relative bg-white shadow-lg rounded-lg text-gray-900"
          @click.away="showModal2 = false"
          x-show="showModal2"
          x-transition:enter="transition transform duration-300"
          x-transition:enter-start="scale-0"
          x-transition:enter-end="scale-100"
          x-transition:leave="transition transform duration-300"
          x-transition:leave-start="scale-100"
          x-transition:leave-end="scale-0"
        >
          <header class="flex flex-col justify-center items-center p-3 text-blue-600">
            <div class="flex justify-center w-28 h-28 border-4 border-blue-600 rounded-full mb-4">
              <svg class="fill-current w-20" viewBox="0 0 20 20">
                <path
                  d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                ></path>
              </svg>
            </div>
            <h2 class="font-semibold text-2xl"><%= t("Success") %></h2>
          </header>
          <main class="p-3 text-center">
            <p >
              <div>
                <div class="inline" id="added-product-confirm-alert-<%= current_cart.order.token %>" ></div>
                <div class="inline" ><%= t("has been added to your cart") %>.</div>
              </div>
              
            </p>
          </main>
          <footer class="flex justify-center bg-transparent">
            <button class="bg-blue-600 font-semibold text-white py-3 w-full rounded-b-md hover:bg-blue-700 focus:outline-none focus:ring shadow-lg hover:shadow-none transition-all duration-300" @click="showModal2 = false">
              <%= t("Confirm") %>
            </button>
          </footer>
        </div>
      </div>
    </div>
  </body>
</div>
<div class="flex justify-center items-center text-center pb-5"  >
  <%== pagy_nav(@pagy) %>
</div>
<script>
  var stars = document.getElementsByClassName("fa-star");
  var rating = 0;
  set_star = function(data_star,data_product){
    for (var j=1;j<=5;j++ ){
      if(j<=data_star){
        star = document.getElementById(`rating-star-${j}-${data_product}`);
      star.classList.remove("text-gray-400");
      star.classList.remove("far");
      star.classList.add("text-yellow-400");
      star.classList.add("fas");
      }else{
        star = document.getElementById(`rating-star-${j}-${data_product}`);
        star.classList.add("text-gray-400");
        star.classList.add("far");
        star.classList.remove("text-yellow-400");
        star.classList.remove("fas");
      }
    }
      
  };
  select_star = function(){
    var data_star=this.getAttribute("data-star");
    var data_product=this.getAttribute("data-product");
    set_star(data_star,data_product);
    
  };
  select_rating = function(){
    var data_star=this.getAttribute("data-star");
    var data_product=this.getAttribute("data-product");
    set_star(data_star,data_product);
    rating = data_star;
    var score = document.getElementById(`score-${data_product}`);
    score.value = rating;
  };
  undo_rating = function(){
    var data_product=this.getAttribute("data-product");
    var score = document.getElementById(`score-${data_product}`);
    rating = score.value;
    var data_star=rating;
    set_star(data_star,data_product);

  };
    

  for (var i = 0; i < stars.length; i++) {
    stars[i].addEventListener('click', select_star, false);
    stars[i].addEventListener('click', select_rating, false);
    stars[i].addEventListener('mouseenter', select_star, false);
    stars[i].addEventListener('mouseleave', undo_rating, false);
  };
  
</script>
<style>
  .pagy-nav {
      display: flex;
      --tw-space-x-reverse: 0;
      margin-right: calc(0.5rem * var(--tw-space-x-reverse));
      margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
      padding-right: 20px;
      padding-top: 5px;
  }
  .pagy-nav .page a,
  .pagy-nav .page.active,
  .pagy-nav .page.prev.disabled,
  .pagy-nav .page.next.disabled,
  .pagy-nav-js .page a,
  .pagy-nav-js .page.active,
  .pagy-nav-js .page.prev.disabled,
  .pagy-nav-js .page.next.disabled {
      display: block;
      border-radius: 0.5rem;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
      --tw-text-opacity: 1;
      color: #1e78f7;
      font-weight: 600;
      --tw-bg-opacity: 1;
      background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
      --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  .pagy-nav .page a,
  .pagy-nav .page.active,
  .pagy-nav .page.prev.disabled,
  .pagy-nav .page.next.disabled,
  .pagy-nav-js .page a,
  .pagy-nav-js .page.active,
  .pagy-nav-js .page.prev.disabled,
  .pagy-nav-js .page.next.disabled:hover{
      --tw-bg-opacity: 1;
      background-color: #1e78f7;
  }
  .pagy-nav .page a,
  .pagy-nav .page.active,
  .pagy-nav .page.prev.disabled,
  .pagy-nav .page.next.disabled,
  .pagy-nav-js .page a,
  .pagy-nav-js .page.active,
  .pagy-nav-js .page.prev.disabled,
  .pagy-nav-js .page.next.disabled:active{
      --tw-bg-opacity: 1;
      background-color: #ffffff;
  }
  .pagy-nav .page.prev.disabled,
  .pagy-nav .page.next.disabled,
  .pagy-nav-js .page.prev.disabled,
  .pagy-nav-js .page.next.disabled {
      --tw-bg-opacity: 1;
      background-color: #f7871e;
      cursor: default;
  }
  .pagy-nav .page.prev.disabled,
  .pagy-nav .page.next.disabled {
      --tw-bg-opacity: 1;
      background-color: #8194ff;
      color:#ffffff;
    }
  .pagy-nav .page.active,
  .pagy-nav-js .page.active:active {
      --tw-bg-opacity: 1;
      background-color: #1e3ef7;
      --tw-text-opacity: 1;
      color: #ffffff;
  }
  </style>