<div class=" my-5 flex items-center justify-center">
    <strong><h1 class="text-center text-3xl" > Your Order History </h1></strong>
</div>
<!-- component -->
<div class="overflow-x-auto">
    <div class="min-w-screen bg-gray-100 flex items-center justify-center bg-gray-100 font-sans overflow-hidden">
        <div class="w-full lg:w-5/6">
            <div class="bg-white shadow-md rounded my-6">
                <table class="min-w-max w-full table-auto">
                    <thead>
                        <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                            <th class="py-3 px-6 text-left">Id</th>
                            <th class="py-3 px-6 text-left">Date and Time</th>
                            <th class="py-3 px-6 text-center">Total Price</th>
                            <th class="py-3 px-6 text-center">payment Method</th>
                            <th class="py-3 px-6 text-center">Status</th>
                            <th class="py-3 px-6 text-center">Details</th>
                            <th class="py-3 px-6 text-center">Invoice</th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-600 text-sm font-light">
                        <% @transactions.each do |transaction| %>
                            <tr class="border-b border-gray-200 hover:bg-gray-100">
                                <td class="py-3 px-6 text-left whitespace-nowrap">
                                    <div class="flex items-center">
                                        <span class="font-medium"><%= transaction.id %></span>
                                    </div>
                                </td>
                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <span><%= transaction.created_at %></span>
                                    </div>
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <div class="flex items-center justify-center">
                                        <%= number_to_currency transaction.sub_total %>
                                    </div>
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <%= transaction.method %>
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <div class="flex item-center justify-center">
                                        <% if transaction.status=="Processing" %>
                                            <span class="bg-red-200 text-red-600 py-1 px-3 rounded-full text-xs"><%= transaction.status %></span>
                                        <% elsif transaction.status=="Confirmed" %>
                                            <span class="bg-blue-200 text-blue-600 py-1 px-3 rounded-full text-xs"><%= transaction.status %></span>
                                        <% elsif transaction.status=="Delivered" %>
                                            <span class="bg-green-200 text-green-600 py-1 px-3 rounded-full text-xs"><%= transaction.status %></span>
                                        <% else %>
                                            <span class="bg-gray-200 text-gray-600 py-1 px-3 rounded-full text-xs"><%= transaction.status %></span>
                                        <% end %>
                                    </div>
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <div class="flex item-center justify-center">
                                        <%= link_to "Details", transaction_items_path(transaction.id), class:"text-blue-500"  %>
                                    </div>
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <div class="flex item-center justify-center">
                                        <%= link_to "invoice", invoice_path(transaction) %>
                                    </div>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>