<div class="flex">
  <div class=" w-full">
      <%= render "shared/ads_slider", products: @products %>
      <div class="h-48 flex flex-wrap  grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-10 px-14">
          <% @products.each do |product| %>
              <div div class="post bg-transparent text-white pb-5 md:mb-6">
                  <div class=" shadow hover:shadow-lg transition duration-300 ease-in-out xl:mb-0 lg:mb-0 md:mb-0 mb-6 cursor-pointer group min-h-full">
                      <%= link_to product_path(product.id) do %>
                          <% if product.image.attached?%>
                              <%= image_tag product.thumbnail, class:"w-full transition duration-700 ease-in-out group-hover:opacity-60 " %>
                          <% end %>
                      <% end %>
                      <div class="px-4 py-3 bg-white  ">
                          <%= link_to product_path(product.id) do %>
                              <h1 class=" text-gray-800 font-semibold hover:text-blue-500 transition duration-300 ease-in-out"><%= truncate(product.title, :length => 29) %></h1>
                          <% end %>
                          <div class="flex py-2">
                              <p class="mr-2 text-xs text-gray-600"><%= number_to_currency product.price %></p>
                          </div>
                          <span class="flex items-center">
                            <% reviews = Rating.where(product_id: product.id) %>
                            <%avg_rating = 0 %>
                            <% if reviews.length > 0 %>
                              <% avg_rating = reviews.average(:score).round %>
                            <% end %>
                            <div class="flex pr-2">
                              <% (1..avg_rating).each do |i| %>
                                <i class="focus:outline-none fas fa-star text-yellow-400 text-xs"  ></i>
                              <% end %>
                              <% ((avg_rating+1)..5).each do |i| %>
                                <i class="focus:outline-none far fa-star text-gray-400 text-xs"  ></i>
                              <% end %>
                            </div>
                            <span class="pb-1 text-gray-600 ml-2"><%= pluralize( product.ratings.length, 'Review' ) %> </span>
                          </span>
                      </div>
                  </div>
              </div>
          <% end %>
      </div>
  </div>
</div>