<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section class="text-gray-700 body-font overflow-hidden bg-white">
  <div class="container px-5 py-10 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <% if @product.image.attached?%>
          <%= image_tag @product.show_thumbnail, class:"lg:w-1/2 w-full object-cover object-center rounded border border-gray-200" %>
      <% end %>
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <div class="flex flex-row justify-between">
          <h2 class="text-sm title-font text-gray-500 tracking-widest"><%= t(Category.find(@product.category_id).title) %></h2>
          <div>
            <% if current_user && current_user.admin %>
              <%= link_to delete_product_path(@product), method: :delete, data: { confirm: "Are you sure?" }, class: "right-0 float-right inline mx-2" do %>
                <i style="font-size:24px" class="fa">&#xf014;</i>
              <% end %>
              <%= link_to edit_product_path(@product), class: "right-0 float-right inline" do %>
                <i class="fas fa-edit"></i>
              <% end %>
            <% end %>
            <div class="flex items-center pr-2">
              <div class="flex pr-2">
                <% (1..@avg_rating).each do |i| %>
                  <i class="focus:outline-none fas fa-star text-yellow-400 text-xs"  ></i>
                <% end %>
                <% ((@avg_rating+1)..5).each do |i| %>
                  <i class="focus:outline-none far fa-star text-gray-400 text-xs"  ></i>
                <% end %>
              </div>
              <span class="text-gray-600 ml-1"><%= pluralize( @reviews.length, t('Reviews') ) %> </span>
            </div>
          </div>
        </div>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1"><%= @product.title %></h1>
        <div class="flex mb-4">
        </div>
        <p class="leading-relaxed"><%= @product.description %></p>
        <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-200 mb-5">
          <div class="flex">
          </div>
          <div class="flex ml-6 items-center">
            <span class="flex items-center">
              <span class="text-gray-600 mr-2"><%= t("Your Rating") %> : </span>
              <% if current_user %>
                <% ratings = Rating.where(user_id: current_user.id ,product_id: @product.id) %>
                <%= form_with(model: @rating) do |form| %>  
                  <div class="flex cursor-pointer">
                    <div class="">
                      <% if ratings.length > 0 %>
                        <% score = ratings[0].score %>
                        <% (1..ratings[0].score).each do |i| %>
                          <button type="submit" class="focus:outline-none	 fas fa-star text-yellow-400 text-xs" data-star="<%= i %>" data-product="<%= @product.id %>" id="<%= "rating-star-#{i}-#{@product.id}"%>" ></button>
                        <% end %>
                        <% ((ratings[0].score+1)..5).each do |i| %>
                          <button type="submit" class="focus:outline-none far fa-star text-gray-400 text-xs" data-star="<%= i %>" data-product="<%= @product.id %>" id="<%= "rating-star-#{i}-#{@product.id}"%>" ></button>
                        <% end %>
                      <% else %>
                        <% score = 0 %>
                        <% (1..5).each do |i| %>
                            <button type="submit" class="focus:outline-none	far fa-star text-gray-400 text-xs" data-star="<%= i %>" data-product="<%= @product.id %>" id="<%= "rating-star-#{i}-#{@product.id}"%>" ></button>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                  <div class="hidden">
                    <%= form.number_field :score,value:score ,id:"score-#{@product.id}",class:"text-gray-900" %>
                  </div>
                  <div class="hidden">
                    <%= form.text_field :user_id,value:current_user.id  %>
                  </div>
                  <div class="hidden">
                    <%= form.text_field :product_id,value:@product.id %>
                  </div>
                  <div class="hidden">
                    <%= form.submit %>
                  </div>
                <% end %>
              <% else %>
                <%= form_with(model: @rating) do |form| %>  
                  <div class="hidden">
                    <%= form.number_field :score,value:0 ,id:"score-#{@product.id}",class:"text-gray-900" %>
                  </div>
                  <div class="hidden">
                    <%= form.text_field :user_id,value:0  %>
                  </div>
                  <div class="hidden">
                    <%= form.text_field :product_id,value:@product.id %>
                  </div>
                  <div class="flex cursor-pointer">
                    <div class="">
                      <% (1..5).each do |i| %>
                          <button type="submit" class="focus:outline-none	far fa-star text-gray-400 text-xs" data-star="<%= i %>" data-product="<%= @product.id %>" id="<%= "rating-star-#{i}-#{@product.id}"%>" ></button>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </span>
          </div>
        </div>
        <div class="flex">
          <span class="title-font font-medium text-2xl text-gray-900"><%= number_to_currency @product.price %></span>
          <%= form_tag order_items_path, remote: true, class:"flex max-h-10 h-10" do %>
            <%= hidden_field_tag :product_id, @product.id %>
            <%= number_field_tag :quantity, 1, min: 1, class: "mx-3 max-w-20 w-20 inline-block text-center bg-gray-200 hover:bg-gray-300 border-1 focus:outline-none", id: "cart-number-field-show" %>
            <button type="submit" class="mx-3 flex ml-auto text-white bg-blue-500 border-0 py-2 px-4 focus:outline-none hover:bg-blue-600 rounded" @click="showModal2 = true">
              <%= t("Add to cart") %>
            </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% if current_user %>
    <div class="max-w-4xl py-1 xl:px-5 flex justify-center mb-8 mx-auto">
      <div class="w-11/12 mt-2 md:mt-0 ">
        <%= form_with(model: @comment,class: "relative h-auto py-10 overflow-hidden bg-gray-100 border-b-2 border-gray-300 rounded-lg shadow-2xl px-7") do |form| %>
          <h3 class="mb-6 text-2xl font-medium text-center"><%= t("Write a comment") %></h3>

          <div class="field">
            <%= form.text_area :content,class:"w-full px-4 py-3 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none",placeholder:t("Your comment"), rows:"3", cols:"33" %>
          </div>

          <div class="hidden">
            <%= form.text_field :user_id, value: current_user.id %>
          </div>

          <div class="hidden">
            <%= form.text_field :product_id, value: @product.id %>
          </div>
          <div class="flex float-right">
            <input type="submit" value=<%= t("Submit comment") %> name="submit" class="text-white px-4 py-3 bg-blue-500 rounded-lg">
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if @comments.length > 0 %>
    <% @comments.each do |comment| %>
      <div class="px-10 pb-2 pt-1 my-0 bg-white w-11/12 animation-fade animation-delay mx-auto sm:px-12 xl:px-5">
        <div class="flex items-center w-full px-6 py-2 mx-auto mt-3 bg-gray-100 border border-gray-200 rounded-lg sm:px-8 md:px-12 sm:py-8 sm:shadow lg:w-5/6 xl:w-2/3">
          <a href="#" class="flex items-center mt-2 mb-2 mr-6">
            <% if User.find(comment.user_id).avatar.attached? %>
              <%= image_tag User.find(comment.user_id).image_url, class:"hidden object-cover w-14 h-14 mx-4 rounded-full sm:block" %>
            <% else %>
              <div class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0" >
                <%= User.find(comment.user_id).name[0].capitalize %>
              </div>
            <% end %>
          </a>
          <div>
            <h3 class="text-lg font-bold text-blue-500 sm:text-xl md:text-2xl"><%= User.find(comment.user_id).name %></h3>
            <p class="text-sm font-bold text-gray-300"><%= comment.created_at %></p>
            <p class="mt-2 text-base text-gray-600 sm:text-lg md:text-normal">
              <%= comment.content %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<!--comments component-->
</section>

<body x-data="{ showModal1: false, showModal2: false, showModal3: false }" :class="{'overflow-y-hidden': showModal1 || showModal2 || showModal3}">
  <div
    class="fixed inset-0 w-full h-full z-20 bg-black bg-opacity-50 duration-300 overflow-y-auto"
    x-show="showModal2"
    x-transition:enter="transition duration-300"
    x-transition:enter-start="opacity-0"
    x-transition:enter-end="opacity-100"
    x-transition:leave="transition duration-300"
    x-transition:leave-start="opacity-100"
    x-transition:leave-end="opacity-0"
  >
    <div class="relative inset-y-40 sm:w-3/4 md:w-1/2 lg:w-1/3 mx-2 sm:mx-auto my-10 opacity-100">
      <div
        class="relative bg-white shadow-lg rounded-lg text-gray-900"
        @click.away="showModal2 = false"
        x-show="showModal2"
        x-transition:enter="transition transform duration-300"
        x-transition:enter-start="scale-0"
        x-transition:enter-end="scale-100"
        x-transition:leave="transition transform duration-300"
        x-transition:leave-start="scale-100"
        x-transition:leave-end="scale-0"
      >
        <header class=" flex flex-col justify-center items-center p-3 text-blue-600">
          <div class="flex justify-center w-28 h-28 border-4 border-blue-600 rounded-full mb-4">
            <svg class="fill-current w-20" viewBox="0 0 20 20">
              <path
                d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
              ></path>
            </svg>
          </div>
          <h2 class="font-semibold text-2xl"><%= t("Success") %></h2>
        </header>
        <main class="p-3 text-center">
          <p>
            <div>
              <div class="inline" id="added-product-confirm-alert-<%= current_cart.order.token %>" ></div>
              <div class="inline" ><%= t("has been added to your cart") %>.</div>
            </div>          </p>
        </main>
        <footer class="flex justify-center bg-transparent">
          <button
            class="bg-blue-600 font-semibold text-white py-3 w-full rounded-b-md hover:bg-blue-700 focus:outline-none focus:ring shadow-lg hover:shadow-none transition-all duration-300"
            @click="showModal2 = false"
          >
          <%= t("Confirm") %>
          </button>
        </footer>
      </div>
    </div>
  </div>
</body>
<script>
  var stars = document.getElementsByClassName("fa-star");
  var rating = 0;
  set_star = function(data_star,data_product){
    for (var j=1;j<=5;j++ ){
      if(j<=data_star){
        star = document.getElementById(`rating-star-${j}-${data_product}`);
      star.classList.remove("text-gray-400");
      star.classList.remove("far");
      star.classList.add("text-yellow-400");
      star.classList.add("fas");
      }else{
        star = document.getElementById(`rating-star-${j}-${data_product}`);
        star.classList.add("text-gray-400");
        star.classList.add("far");
        star.classList.remove("text-yellow-400");
        star.classList.remove("fas");
      }
    }
      
  };
  select_star = function(){
    var data_star=this.getAttribute("data-star");
    var data_product=this.getAttribute("data-product");
    set_star(data_star,data_product);
    
  };
  select_rating = function(){
    var data_star=this.getAttribute("data-star");
    var data_product=this.getAttribute("data-product");
    set_star(data_star,data_product);
    rating = data_star;
    var score = document.getElementById(`score-${data_product}`);
    score.value = rating;
  };
  undo_rating = function(){
    var data_product=this.getAttribute("data-product");
    var score = document.getElementById(`score-${data_product}`);
    rating = score.value;
    var data_star=rating;
    set_star(data_star,data_product);

  };
    

  for (var i = 0; i < stars.length; i++) {
    stars[i].addEventListener('click', select_star, false);
    stars[i].addEventListener('click', select_rating, false);
    stars[i].addEventListener('mouseenter', select_star, false);
    stars[i].addEventListener('mouseleave', undo_rating, false);
  };
  
</script>