<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section class="text-gray-700 body-font overflow-hidden bg-white">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <% if @product.image.attached?%>
          <%= image_tag @product.show_thumbnail, class:"lg:w-1/2 w-full object-cover object-center rounded border border-gray-200" %>
      <% end %>
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <div class="flex flex-row justify-between">
          <h2 class="text-sm title-font text-gray-500 tracking-widest"><%= Category.find(@product.category_id).title %></h2>
          <div>
              <% if current_user && current_user.admin %>
                <%= link_to delete_product_path(@product), method: :delete, data: { confirm: "Are you sure?" }, class: "right-0 float-right inline mx-2" do %>
                  <i style="font-size:24px" class="fa">&#xf014;</i>
                <% end %>
                <%= link_to edit_product_path(@product), class: "right-0 float-right inline" do %>
                  <i class="fas fa-edit"></i>
                <% end %>
              <% end %>
          </div>
        </div>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1"><%= @product.title %></h1>
        <div class="flex mb-4">
        </div>
        <p class="leading-relaxed"><%= @product.description %></p>
        <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-200 mb-5">
          <div class="flex">
          </div>
          <div class="flex ml-6 items-center">
            <span class="flex items-center">
              <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-yellow-500" viewBox="0 0 24 24">
                <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
              </svg>
              <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-yellow-500" viewBox="0 0 24 24">
                <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
              </svg>
              <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-yellow-500" viewBox="0 0 24 24">
                <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
              </svg>
              <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-yellow-500" viewBox="0 0 24 24">
                <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
              </svg>
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-yellow-500" viewBox="0 0 24 24">
                <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
              </svg>
              <span class="text-gray-600 ml-3">4 Reviews</span>
            </span>
          </div>
        </div>
        <div class="flex">
          <span class="title-font font-medium text-2xl text-gray-900"><%= number_to_currency @product.price %></span>
          <%= form_tag order_items_path, remote: true, class:"flex max-h-10 h-10" do %>
            <%= hidden_field_tag :product_id, @product.id %>
            <%= number_field_tag :quantity, 1, min: 1, class: "mx-3 max-w-20 w-20 inline-block text-center bg-transparent border-1 hover:bg-gray-100 focus:outline-none", id: "cart-number-field-show" %>
            <button type="submit" class="mx-3 flex ml-auto text-white bg-blue-500 border-0 py-2 px-4 focus:outline-none hover:bg-blue-600 rounded" @click="showModal2 = true">
            Add to cart
            </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<body x-data="{ showModal1: false, showModal2: false, showModal3: false }" :class="{'overflow-y-hidden': showModal1 || showModal2 || showModal3}">
  <div
    class="fixed inset-0 w-full h-full z-20 bg-black bg-opacity-50 duration-300 overflow-y-auto"
    x-show="showModal2"
    x-transition:enter="transition duration-300"
    x-transition:enter-start="opacity-0"
    x-transition:enter-end="opacity-100"
    x-transition:leave="transition duration-300"
    x-transition:leave-start="opacity-100"
    x-transition:leave-end="opacity-0"
  >
    <div class="relative inset-y-40 sm:w-3/4 md:w-1/2 lg:w-1/3 mx-2 sm:mx-auto my-10 opacity-100">
      <div
        class="relative bg-white shadow-lg rounded-lg text-gray-900"
        @click.away="showModal2 = false"
        x-show="showModal2"
        x-transition:enter="transition transform duration-300"
        x-transition:enter-start="scale-0"
        x-transition:enter-end="scale-100"
        x-transition:leave="transition transform duration-300"
        x-transition:leave-start="scale-100"
        x-transition:leave-end="scale-0"
      >
        <header class=" flex flex-col justify-center items-center p-3 text-blue-600">
          <div class="flex justify-center w-28 h-28 border-4 border-blue-600 rounded-full mb-4">
            <svg class="fill-current w-20" viewBox="0 0 20 20">
              <path
                d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
              ></path>
            </svg>
          </div>
          <h2 class="font-semibold text-2xl">Success</h2>
        </header>
        <main class="p-3 text-center">
          <p>
            <div id="added-product-confirm-alert-<%= current_cart.order.token %>" ></div>
          </p>
        </main>
        <footer class="flex justify-center bg-transparent">
          <button
            class="bg-blue-600 font-semibold text-white py-3 w-full rounded-b-md hover:bg-blue-700 focus:outline-none focus:ring shadow-lg hover:shadow-none transition-all duration-300"
            @click="showModal2 = false"
          >
            Confirm
          </button>
        </footer>
      </div>
    </div>
  </div>
</body>