<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  <head>
    <title>WMshop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="http://js.stripe.com/v3/"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="bg-gray-100 overflow-x-hidden ">
    <table class="fixed overflow-y-scroll  ">
      <tr>
        <td>
          <div class="fixed z-50 mb-2">
            <%= render partial: "shared/navbar" %>   
          </div>
        </td>
      </tr>
      <tr >
        <th  >
          <div class=" place-items-center overflow-scroll max-h-screen h-screen">
              <div class="content-center ">
                <%= render partial: "shared/flash" %>
                <%= yield%>
                <% if user_signed_in? && !current_user.admin %>
                  <%= render 'messages/chat', message: Message.new, room: @room %>
                <% end %>
              </div>
            </div>
          </div>
        </th>
      </tr>

    </table>
    <% if current_user && !current_user.admin %>
      <div id="room-id-user" data-room-id-user = "<%= current_user.room.id %>" ></div>
      <div id="user-id" data-user-id = "<%= current_user.id %>" ></div>
    <% end %>
    
    
  </body>
</html>
