<!DOCTYPE html>
<html>
  <head>
    <title>WMshop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render partial: "shared/navbar" %>
    <div class=" place-items-center h-screen">
      <div class="col-start-2 row-start-2 ">
        <div class="content-center ">
          <%= render partial: "shared/flash" %>
          <%= yield%>          
          <% if user_signed_in? %>
          <%= render "shared/chat" %>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
