<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  <head>
    <title>WMshop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="http://js.stripe.com/v3/"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="bg-gray-100 h-screen overflow-x-hidden overflow-auto"> 
    <div class="fixed z-50">
      <%= render partial: "shared/navbar" %>   
      <hr>
    </div>
    <div class="place-items-center w-screen min-w-screen pt-1">
        <div class="content-center pt-14">
          <%= render partial: "shared/flash" %>
          <%= yield%>
          <% if user_signed_in? && !current_user.admin %>
            <%= render 'messages/chat', message: Message.new, room: @room %>
          <% end %>
        </div>
      </div>
    </div>
    <% if current_user && !current_user.admin %>
      <div id="room-id-user" data-room-id-user = "<%= current_user.room.id %>" ></div>
      <div id="user-id" data-user-id = "<%= current_user.id %>" ></div>
    <% end %>
  </body>
</html>
<style>
  input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}
</style>